In [156]:
import pandas as pd
import numpy as np

np.array/npndarray

pd.Series

pd.Dataframe

#creating numpy arrays

In [157]:
mynparray = np.random.rand(3)

In [158]:
mynparray2 = np.random.rand(3,2)

In [159]:
mynparray2

array([[0.938402  , 0.05343562],
       [0.23231101, 0.26473487],
       [0.86588651, 0.02434168]])

In [160]:
mynparray

array([0.98876408, 0.31558958, 0.45964778])

#Creating Pandas DataFrame

In [161]:
my_pandas_df = pd.DataFrame(mynparray2)

In [162]:
my_pandas_df

          0         1
0  0.938402  0.053436
1  0.232311  0.264735
2  0.865887  0.024342

In [163]:
type(my_pandas_df)

pandas.core.frame.DataFrame

In [164]:
type(mynparray)

numpy.ndarray

In [165]:
my_pandas_df.columns = ["first","second"]

In [166]:
my_pandas_df

      first    second
0  0.938402  0.053436
1  0.232311  0.264735
2  0.865887  0.024342

# Creating pandas Series

In [167]:
mypd_series = pd.Series(mynparray)

In [145]:
mypd_series

0    0.551617
1    0.170861
2    0.779063
dtype: float64

In [168]:
type(mypd_series)

pandas.core.series.Series

In [169]:
mypd_series = pd.Series(mynparray,index=["one","two","three"])

In [149]:
mypd_series

one      0.551617
two      0.170861
three    0.779063
dtype: float64

In [170]:
mypd_series ["one"]

0.9887640802194693

In [171]:
mypd_series[0]

0.9887640802194693